.gameTile {
  width: 20vh;
  height: 20vh;
  background-color: #333333;

  display: flex;
  justify-content: center;
  flex-basis: auto;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  width: 45vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1vh 1vh;

  margin-top: 5vh;
}

$red: #e82727;
$green: #40f10f;
$yellow: #f1e132;
$blue: #2181ff;

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.subdued {
  filter: brightness(40%);
}
